<header>
    <div>
        <h1>Homepage</h1>
    </div>
    <div>
        {{#if Auth}}
        <h4>Welcome <span>{{user}}</span></h4>
        <ul>
            <a href="/user">My Blogs</a>
            <a href="/userManagement/logout">Logout</a>
        </ul>
        {{/if}}
        {{#unless Auth}}
        <a href="/userManagement">Login</a>
        {{/unless}}
    </div>
</header>

<main>
    {{#if empty}}
        <h1>{{empty}}</h1>
    {{/if}}
    {{#each data}}
    <div class="Blog">
        <h4>{{this.title}}</h4>
        <p>{{this.content}}</p>
    </div>
    {{/each}}
</main>