header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(175, 172, 172);
    padding: 0.5em;
    border-radius: 10%;
}

header span{
    color: green;
}

header ul{
    display: flex;
    flex-direction: column;
}

.Blog{
    padding: 0.5em;
    background-color: antiquewhite;
    border-radius: 10%;
    border: 1px solid black;
}

.Blog h4{
    margin: 0.3em 0;
}

#filters{
    display: flex;
    align-items: flex-end;
}


.SortButton{
    height: 50%;
}
